@import "tailwindcss";

body {
  background-color: #020617; /* a dark blue-black fallback */
  background-image: url('/landing-bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
